# Tugas Pengenalan Apache Spark 

##### Muhammad Faris Didin Andiyar
##### 5115100118

### Requirement :

## Initialization of Spark

In [1]:
import findspark
findspark.init("/usr/local/spark")
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark SQL basic example").getOrCreate()

<pyspark.sql.session.SparkSession object at 0x7f2a342f1e50>

## Load Dataset

In [2]:
df2 = spark.read.csv("la/listing-of-active-businesses.csv", header=True, inferSchema=True)

In [3]:
df2.show()

+------------------+--------------------+--------------------+--------------------+-----------------+----------+--------------------+--------------------+-----------------+----------------+------+-------------------------+----------------+-------------------+-----------------+--------+
|LOCATION ACCOUNT #|       BUSINESS NAME|            DBA NAME|      STREET ADDRESS|             CITY|  ZIP CODE|LOCATION DESCRIPTION|     MAILING ADDRESS|     MAILING CITY|MAILING ZIP CODE| NAICS|PRIMARY NAICS DESCRIPTION|COUNCIL DISTRICT|LOCATION START DATE|LOCATION END DATE|LOCATION|
+------------------+--------------------+--------------------+--------------------+-----------------+----------+--------------------+--------------------+-----------------+----------------+------+-------------------------+----------------+-------------------+-----------------+--------+
| 0000000115-0001-3|    VINCENZO LABELLA|                null|521 SWARTHMORE AV...|PACIFIC PALISADES|90272-4350|521 SWARTHMORE 90...|521 SWARTHMORE AV...|PACIFIC PALISADES|      90272-4350|561500|     Travel arrangemen...|              11|1990-01-01 00:00:00|             null|    null|
| 0000000150-0001-5|A A OFICINA CENTR...|                null|2015 W TEMPLE STREET|      LOS ANGELES|90026-4913|2015 TEMPLE 90026...|2607 VAN BUREN PLACE|      LOS ANGELES|      90007-2129|611000|     Educational servi...|              13|1991-01-01 00:00:00|             null|    null|
| 0000000156-0001-2|SPRINGBOARD NON-P...|MONEY MANAGEMENT ...|1605 W OLYMPIC BL...|      LOS ANGELES|90015-3828|1605 OLYMPIC 9001...|                null|             null|            null|523900|     Other financial i...|               1|1999-02-01 00:00:00|             null|    null|
| 0000000247-0001-1|A A OFICINA CENTR...|                null|    3806 W PICO BLVD|      LOS ANGELES|90019-4304|3806 PICO 90019-4304|2607 VAN BUREN PLACE|      LOS ANGELES|      90007-2129|611000|     Educational servi...|              10|1991-01-01 00:00:00|             null|    null|
| 0000000267-0001-9|A A OFICINA CENTR...|                null|    3115 VENICE BLVD|      LOS ANGELES|90019-6238|3115 VENICE 90019...|2607 VAN BUREN PLACE|      LOS ANGELES|      90007-2129|611000|     Educational servi...|              10|1991-01-01 00:00:00|             null|    null|
| 0000000282-0001-3|A A OFICINA CENTR...|                null| 2601 W PICO BLVD #2|      LOS ANGELES|90006-3901|2601 PICO 90006-3901|2607 VAN BUREN PLACE|      LOS ANGELES|      90007-2129|611000|     Educational servi...|               1|1991-01-01 00:00:00|             null|    null|
| 0000000327-0001-2|A A OFICINA CENTR...|                null|   4151 BEVERLY BLVD|      LOS ANGELES|90004-4461|4151 BEVERLY 9000...|2607 VAN BUREN PLACE|      LOS ANGELES|      90007-2129|611000|     Educational servi...|              13|1991-01-01 00:00:00|             null|    null|
| 0000000328-0001-7|A A OFICINA CENTR...|                null|3049 W 8TH STREET...|      LOS ANGELES|90005-1873| 3049 8TH 90005-1873|2607 VAN BUREN PLACE|      LOS ANGELES|      90007-2129|611000|     Educational servi...|              10|1991-01-01 00:00:00|             null|    null|
| 0000000350-0001-1|A A OFICINA CENTR...|                null|    1150 VENICE BLVD|      LOS ANGELES|90015-3214|1150 VENICE 90015...|2607 VAN BUREN PLACE|      LOS ANGELES|      90007-2129|611000|     Educational servi...|               1|1991-01-01 00:00:00|             null|    null|
| 0000000547-0001-6|NEW CITY LIFE FOU...|                null|1201 W MANCHESTER...|      LOS ANGELES|90044-2237|1201 MANCHESTER 9...|   3533 W 58TH PLACE|      LOS ANGELES|      90043-3003|561500|     Travel arrangemen...|               8|2000-03-01 00:00:00|             null|    null|
| 0000000590-0001-2|LOS ANGELES URBAN...|                null|10611 S HOOVER ST...|      LOS ANGELES|90044-4443|10611 HOOVER 9004...|7226 S FIGUEROA S...|      LOS ANGELES|      90003-1721|624410|     Child day care se...|               8|1995-01-20 00:00:00|             null|    null|
| 0000000699-0001-1|THE KABBALAH CENT...|                null|1220 S SHENANDOAH...|      LOS ANGELES|90035-2238|1220 SHENANDOAH 9...|1062 S ROBERTSON ...|      LOS ANGELES|      90035-1505|531100|     Lessors of real e...|               5|2000-02-01 00:00:00|             null|    null|
| 0000000726-0001-1|       JOYCE WILLING|                null| 10510 ODESSA AVENUE|    GRANADA HILLS|91344-6721|10510 ODESSA 9134...|                null|             null|            null|453990|     All other miscell...|              12|1999-01-01 00:00:00|             null|    null|
| 0000001168-0001-2|THE SKID ROW HOUS...|                null|    114 E 5TH STREET|      LOS ANGELES|90013-1416|  114 5TH 90013-1416|   1317 E 7TH STREET|      LOS ANGELES|      90021-1101|561300|      Employment services|               9|1996-10-01 00:00:00|             null|    null|
| 0000001192-0001-6|THE PUBLIC HEALTH...|PUBLIC HEALTH FOU...|1836 W IMPERIAL H...|      LOS ANGELES|90047-5020|1836 IMPERIAL 900...|12781 SCHABARUM A...|        IRWINDALE|      91706-6807|621510|     Medical & diagnos...|               0|2000-07-17 00:00:00|             null|    null|
| 0000001271-0001-2|ST ANTHONY MEDICA...|                null|837 W IMPERIAL HI...|      LOS ANGELES|90044-4110|837 IMPERIAL 9004...|                null|             null|            null|621400|     Outpatient  care ...|              15|2000-04-01 00:00:00|             null|    null|
| 0000001333-0001-5|YIDDISHKAYT LOS A...|                null|3780 WILSHIRE BLV...|      LOS ANGELES|90010-2840|3780 WILSHIRE 900...|                null|             null|            null|611000|     Educational servi...|              10|1998-07-21 00:00:00|             null|    null|
| 0000001345-0001-8|   S RICHARD FRIESEN|      BIRDBRAIN ARTS| 16600 HAMLIN STREET|      LAKE BALBOA|91406-5615|16600 HAMLIN 9140...|                null|             null|            null|453990|     All other miscell...|               6|1999-01-01 00:00:00|             null|    null|
| 0000001360-0001-2|SAN FERNANDO VALL...|        FAMILY LINKS|11565 LAUREL CANY...|     SAN FERNANDO|91340-4168|11565 LAUREL CANY...|6931 VAN NUYS BLV...|         VAN NUYS|      91405-3937|621400|     Outpatient  care ...|               0|2000-07-01 00:00:00|             null|    null|
| 0000001364-0001-1|WET PAINT PRODUCT...|           WET PAINT|5230 KESTER AVENU...|     SHERMAN OAKS|91411-4019|5230 KESTER 91411...|                null|             null|            null|711300|     Promoters of perf...|               2|2000-01-01 00:00:00|             null|    null|
+------------------+--------------------+--------------------+--------------------+-----------------+----------+--------------------+--------------------+-----------------+----------------+------+-------------------------+----------------+-------------------+-----------------+--------+
only showing top 20 rows

In [4]:
df2.schema

StructType(List(StructField(LOCATION ACCOUNT #,StringType,true),StructField(BUSINESS NAME,StringType,true),StructField(DBA NAME,StringType,true),StructField(STREET ADDRESS,StringType,true),StructField(CITY,StringType,true),StructField(ZIP CODE,StringType,true),StructField(LOCATION DESCRIPTION,StringType,true),StructField(MAILING ADDRESS,StringType,true),StructField(MAILING CITY,StringType,true),StructField(MAILING ZIP CODE,StringType,true),StructField(NAICS,IntegerType,true),StructField(PRIMARY NAICS DESCRIPTION,StringType,true),StructField(COUNCIL DISTRICT,IntegerType,true),StructField(LOCATION START DATE,TimestampType,true),StructField(LOCATION END DATE,StringType,true),StructField(LOCATION,StringType,true)))

In [5]:
df2.createOrReplaceTempView("business")

## Data Mining Process

### Jumlah Perusahaan di setiap kota

In [6]:
result=spark.sql("SELECT COUNT(`BUSINESS NAME`) as jumlah , CITY from business GROUP BY CITY order by jumlah desc")

In [8]:
result.show(50)

+------+-----------------+
|jumlah|             CITY|
+------+-----------------+
|254197|      LOS ANGELES|
| 18341|         VAN NUYS|
| 14325|     SHERMAN OAKS|
| 14294|  NORTH HOLLYWOOD|
| 11703|   WOODLAND HILLS|
| 10501|           ENCINO|
|  8644|       NORTHRIDGE|
|  7217|      STUDIO CITY|
|  6415|      CANOGA PARK|
|  6054|          TARZANA|
|  5985|           RESEDA|
|  5479|       CHATSWORTH|
|  5202|           VENICE|
|  5069|        SAN PEDRO|
|  4835|    GRANADA HILLS|
|  4725|    PANORAMA CITY|
|  4711|       SUN VALLEY|
|  4527|           SYLMAR|
|  3774|      N HOLLYWOOD|
|  3686|          PACOIMA|
|  3593|      NORTH HILLS|
|  3556|   VALLEY VILLAGE|
|  3447|       WEST HILLS|
|  3068|         GLENDALE|
|  2984|         WINNETKA|
|  2917|PACIFIC PALISADES|
|  2902|    BEVERLY HILLS|
|  2838|       WILMINGTON|
|  2702|     SANTA MONICA|
|  2652|          BURBANK|
|  2557|   MARINA DEL REY|
|  2530|         TORRANCE|
|  2336|      CULVER CITY|
|  2245|           ARLETA|
|  2186|   WEST HOLLYWOOD|
|  2057|          TUJUNGA|
|  1969|          GARDENA|
|  1562|    MISSION HILLS|
|  1556|       LONG BEACH|
|  1509|          SUNLAND|
|  1440|         PASADENA|
|  1333|        INGLEWOOD|
|  1320|    PLAYA DEL REY|
|  1311|      HARBOR CITY|
|  1196|      TOLUCA LAKE|
|  1187|     PORTER RANCH|
|  1101|     SAN FERNANDO|
|  1061|      SIMI VALLEY|
|  1017|        CALABASAS|
|   904|          ANAHEIM|
+------+-----------------+
only showing top 50 rows

### Jumlah Jenis Perusahaan Terbanyak

In [24]:
result2=spark.sql("SELECT count(`LOCATION ACCOUNT #`) as number_company, `PRIMARY NAICS DESCRIPTION`\
FROM business group by `PRIMARY NAICS DESCRIPTION` order by number_company desc")

In [25]:
result2.show(40)

+--------------+-------------------------+
|number_company|PRIMARY NAICS DESCRIPTION|
+--------------+-------------------------+
|         48403|                     null|
|         43650|     Lessors of real e...|
|         28561|     All other persona...|
|         24156|     Independent artis...|
|         13838|     Single Family Hou...|
|         13225|     Motion picture & ...|
|         13194|     Management, scien...|
|         13018|     All other profess...|
|         11946|      Janitorial services|
|          8074|           Legal services|
|          7167|     Full-service rest...|
|          6903|     Other miscellaneo...|
|          6784|     Specialized desig...|
|          6240|     Offices of physic...|
|          6168|     All other miscell...|
|          5833|             Apparel mfg.|
|          5684|     Travel arrangemen...|
|          5658|     Educational servi...|
|          5346|     All other special...|
|          5337|     General merchandi...|
|          5092|     Real estate prope...|
|          4947|      Employment services|
|          4733|     Home health care ...|
|          4585|     Other consumer go...|
|          4574|     Electrical Contra...|
|          4567|     Plumbing, Heating...|
|          4174|     Other direct sell...|
|          4023|     Landscaping services|
|          3627|     Advertising & rel...|
|          3572|     Photographic serv...|
|          3551|     Computer systems ...|
|          3550|     Apparel, piece go...|
|          3543|     Other accounting ...|
|          3220|             Barber shops|
|          3172|     Special food serv...|
|          3169|     Offices of all ot...|
|          3040|     Other financial i...|
|          2992|     Child day care se...|
|          2835|     Other services to...|
|          2831|     Other miscellaneo...|
+--------------+-------------------------+
only showing top 40 rows

### Jumlah Perusahaan Berdiri pada Tahun tertentu

In [18]:
result4=spark.sql("select count(`LOCATION ACCOUNT #`) as number_company, year(`LOCATION START DATE`) as year_date \
from business group by year_date order by number_company desc")

In [19]:
result4.show()

+--------------+---------+
|number_company|year_date|
+--------------+---------+
|         43031|     2015|
|         37701|     2016|
|         37458|     2014|
|         36677|     2017|
|         31617|     2013|
|         31051|     2018|
|         25260|     2012|
|         21490|     2011|
|         19150|     2010|
|         16709|     2007|
|         16314|     2009|
|         15812|     2006|
|         15428|     2005|
|         15226|     2004|
|         14972|     2008|
|         14024|     2003|
|         11580|     2002|
|         11165|     2001|
|         10247|     2000|
|          9106|     1999|
+--------------+---------+
only showing top 20 rows